@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

:root {
    --font-light: #f5f5f5;
    --font-dark: #404040;
    --border-color: #b62626;
    --background-light: rgba(245, 245, 245, 0.8);
    --background-medium: rgba(237, 174, 64, 0.9);
    --background-dark: rgba(64, 64, 64, 0.6);
    height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container {
    background-image: url('./background_img.jpg');
    background-size: cover;
    padding-top: 20px;
    height: 100%;
}

#nav_bar {
    background-color: var(--background-light);
    text-align: center;
}

.nav_btn {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--font-dark);
    background-color: transparent;
    width: 150px;
    height: 50px;
    border: none;
}

.underlined_btn {
    border-bottom: 3px solid var(--border-color);
}

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--background-dark);
}

h1,
h2 {
    font-family: 'Russo One', sans-serif;
    color: var(--font-light);
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 30px;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: var(--font-light);
}

footer {
    background-color: var(--background-medium);
    
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 10px 0;
}

footer p {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.github:hover {
    transform: scale(1.2);
}